<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Library!</title>
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
    <nav>
        <p>Totally Real Library</p>
        <button id="formButton" name="formButton" onclick="location.href='/checkform'">Check Out/Check In</button>
        <a href="{{ url_for('register') }}">Register Users</a>
        <a href="{{ url_for('checkouts') }}">View Checkouts</a>

    </nav>
<form method="POST" action="/">
    <div id="SearchDiv">
        <label>Search By title:</label>
            <input name="title">
            <button type="submit" name="action" value="search">Search</button>
    </div>

    <button id="filterButton" type="button">Show Filters</button>    
    <div id="filterList">
        <label><input type="radio" name="exclude" value="No Books"> Only Movies</label>
        <label><input type="radio" name="exclude" value="No Movies"> Only Books</label>
        <label><input type="radio" name="exclude" value="Books and Movies"> Books and Movies</label>
        <label><input type="checkbox" name="available" value="Available"> Available</label>
    </div>
    </form>
    <script>
        //Just makes the filter list expand. You can put in a JS file for the actual SQL integration, they're compatible. 
        const btn = document.getElementById("filterButton");
        const list = document.getElementById("filterList");
        
        btn.addEventListener("click", () => {
            const visible = list.style.display === "block";
            list.style.display = visible ? "none" : "block";
            btn.textContent = visible ? "Show Filters" : "Hide Filters";
        });

    </script>

    <div id="results">
    <script>
        window.addEventListener("load", () => {
            fetch("static/query-results/sql-result.html")
            .then(response => response.text())
            .then(html => {
                document.getElementById("results").innerHTML = html;
            });
    });
    </script>
    </div>

</body>
</html>
