<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register a new user!</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <nav>
        <p>Totally Real Library</p>
        <a href="{{ url_for('main') }}">Back</a>
    </nav>

    <h2>Register a New User</h2>

    <form method="POST" action="/register">
        <label>Name:</label>
        <input type="text" name="name" required>

        <label>Email:</label>
        <input type="email" name="email" required>

        <button type="submit">Create User</button>
    </form>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</body>
</html>
